body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}



.navbar, .banner {
  background-size: cover;
 
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 34px;
line-height: 150%;
color: #4E47FF;
}


.btn {
  padding: 10px 20px;
  color: white;
  border: none;
  transition: transform 0.3s ease, background 0.3s ease;
  background: #4E47FF;
  border-radius: 10px;



}

.btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.banner {
  flex-direction: column;
  text-align: center;

}

.bannerTextbox{

width: 905px;
height: 237px;

}

.bannertext{

width: 905px;
height: 152px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: center;
color: #252432;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


}

.action-section {
  width: 1140px;
  height: 328px;
  display: flex;
  padding: 60px 40px;
  gap: 30px;
  justify-content: center;
  justify-items: center;

}

.action-left{
  width: 517px;
  height: 203px;

}

.action-right{
  width: 517px;
  height: 203px;
  padding: 50px;

}
.action-left-head{
width: 517px;
height: 49px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
color: #252432;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.action-left-details{
width: 517px;
height: 60px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: rgba(37, 36, 50, 0.5);
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.action-right{
  width: 403px;
  height: 328px;
}

.productive-users {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 50px 80px;
gap: 10px;
background: rgba(78, 71, 255, 0.1);
border-radius: 24px;

}

.productive-users-title{
width: 856px;
height: 45px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 45px;
text-align: center;
color: #252432;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.user-stats {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.user-stats-count{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 60px;
color: #4E47FF;
flex: none;
order: 0;
flex-grow: 0;
}


.user-stats-content{
width: 120px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
text-align: center;
color: rgba(0, 0, 0, 0.5);
}

.contact-section {
  display: flex;
  padding: 50px 40px;
  gap: 40px;
}

.contact-right input, .contact-right textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.footer nav a {
  color: #ccc;
  margin: 0 10px;
  text-decoration: none;
}

.feedback {
  padding: 50px;
  text-align: center;
}

.feedback .reviewer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
